# Python
__pycache__/
*.pyc
.venv/
venv/

# Java / Maven
target/
*.class

# Node
node_modules/
dist/
build/

# Logs
*.log
logs/

# Kafka local
kraft-combined-logs/

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.iml

# Entornos / secretos
.env
*.pem
